@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');

*{
  box-sizing: border-box;
}

.journal-entry {
    border: 1px solid black;
    border-radius: 4%;
    padding: 42px 0px 24px 6px;
}

.journal-entry-edit{
   border: 8px solid #581845;
   font-size: 1em;
  padding: 10px 0px 30px 15px;
   border-radius: 2%;  
}

.edit-textarea{
    padding: 10px 23px 30px 13px;
    font-family: 'Roboto Slab', sans-serif;
    margin: 12px;
    font-size: 1em;
}

 #edit-btn, #delete-btn{
    margin-left: 8px;
}

.MuiButton-contained + .MuiButton-contained  {
  margin-left: 0.5rem;
}