*{
  box-sizing: border-box;
}

.mood-history-container{
   margin: 15px;
}

.entry-container{
 display: flex;
 flex-direction: column;
 align-items:center;
 margin: 26px;
}

.reflection-title{
      text-align: center;
      font-size: 45px;
      margin: 0;
      font-weight:200;
}

.feeling-title{
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
  font-size: 20px;
  text-align:center;
  font-weight: 300;
}

.journal-entry-date{
  font-size: 15px;
  margin: 12px;
}

.journal-entry-paragraph{
  padding: 7px 0 39px 14px;
  font-size: 18px;
  font-weight: 300;
}

.moodHistory-ul{
  display:flex;
  width: 100%;
}

.moodHistory-li{
    list-style: none;
    padding: 6px 26px 0px 3px;
    border-bottom: 3px solid #581845;
}

.moodHistory-link{
  font-size: 1.2em;
  font-weight:200;
}


