*{
  box-sizing: border-box;
}

.entry-container{
display: flex;
 flex-direction: column;
}

.reflection-title{
      text-align: center;
}

.feeling-title{
  border-bottom: 2px dotted black;
    width: 29%;
    border-top: 2px dotted black;
}

.journal-entry-date{
  font-size: 12px;
}



