*{
  box-sizing: border-box;
}

.entry-container{
 display: flex;
 flex-direction: column;
 align-items:center;

}

.reflection-title{
      text-align: center;
}

.feeling-title{
  border-bottom: 2px dotted black;
  border-top: 2px dotted black;
  font-size: 20px;
  text-align:center;
}

.journal-entry-date{
  font-size: 12px;
}

.journal-entry-paragraph{
  padding: 7px 0 39px 14px;
}



