*{
  box-sizing: border-box;
}

body{
 background-color: #F6F4EF;
}

/* wrapping parent container*/
.mood-journal-container{
  display: flex;
  flex-direction: column;
  margin:14px;
}

/* nav button container */
.mood-journal-nav{
  display: flex;
  justify-content: flex-end;
}


/* nav buttons */
#mood-journal-nav-btn, .MuiButton-contained {
    color: white;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #581845;
    width: 13%;
    padding: 14px;
    margin: 4px;
}

.mood-title-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* h1 title */
.moodJournal-h1 {
    font-size: 34px;
    padding: 10px;
    border-bottom: solid black;
    text-align: center;
    width: 44%;
    margin: 24px;
}

.moodJournal-paragraph{
      margin: 40px;
    padding-bottom: 19px;
}

/* container for all mood buttons */
.mood-btn-container{
  display: flex;
    justify-content: center;
    padding-bottom: 13px;
}

/* mood buttons */
.mood-btn{
  font-size: 1.5em;
  border-radius: 14%;
  width: 11%;
  margin: 4px;
  padding: 22px;
  outline: none;
}

/* textarea container */
.mood-journal-form{
      display: flex;
    justify-content: center;
}

/* textarea */
.journal-space{
  width: 58%;
    padding: 14px 0px 15px 1px;
    margin: 13px 3px 0 8px;
    outline: none;
    background-color: #F6F4EF;
    border: 3px solid #581845;
}

/* submit and clear button/container */
.moodJournal-btns-container{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 20px 0;
}

.submit, .clear{
  font-size:1.5em;
}
