*{
  box-sizing: border-box;
}

body{
 background-color: #F6F4EF;
}

.mood-journal-container{
  display: flex;
  flex-direction: column;
  margin:14px;
}

.mood-journal-nav-btns{
  display: flex;
  justify-content: flex-end;
}

.mood-btn{
  font-size: 1.5em;
  border-radius: 14%;
  width: 11%;
  margin: 4px;
  padding: 22px;
  outline: none;
}


.logout-btn, .view-journal-btn{
  margin: 4px 8px;
}

.journal-space{
  width: 58%;
    padding: 14px 0px 15px 1px;
    margin: 13px 3px 0 8px;
    outline: none;
    background-color: #F6F4EF;
  
}

.submit, .clear{
  font-size:1.5em;
}



.moodJournal-h1{
  font-size: 2.5em;
  padding: 10px;
  border-bottom: solid black;
  text-align: center;
 
}
