*{
  box-sizing: border-box;
}

body{
 background-color: #F6F4EF;
}

/* wrapping parent container*/
.mood-journal-container{
  display: flex;
  flex-direction: column;
  margin:14px;
}
/* nav section */
.mood-journal-ul{
  display:flex;
  /* margin: 25px; */
  width: 100%;
}

li.mood-journal-li{
  list-style: none;
    padding: 6px 26px 0px 3px;
    border-bottom: 4px solid #581845; 
}

.mood-journal-link{
   font-size: 1.2em;
  font-weight:200;
}
/* end of nav section */

.moodJournal-container.MuiContainer-root{
  padding-left: 0;
}

.mood-title-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* h1 title */
.moodJournal-h1 {
    font-size: 34px;
    padding: 10px;
    border-bottom: solid  #581845;
    text-align: center;
    width: 100%;
    margin: 24px;
    font-weight:300
}

.moodJournal-paragraph{
    /* margin: 37px; */
    padding-bottom: 19px;
    font-size: 22px;
    font-weight: 200;
}

/* container for all mood buttons */
.mood-btn-container{
    display: flex;
    justify-content: center;
    padding-bottom: 13px;
}

/* mood buttons */
.mood-btn{
  font-size: 1.5em;
  border-radius: 14%;
  width: 11%;
  margin: 4px;
  padding: 22px;
  outline: none;
}

/* textarea container */
.mood-journal-form{
    display: flex;
    justify-content: center;
}

/* textarea */
.journal-space{
    outline: none;
    background-color: #F6F4EF;
    border: 3px solid #581845;
    width: 58%;
    padding: 14px 0px 15px 1px;
    margin: 13px 3px 0 8px;
    font-size: 19px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight:300;
}

/* submit and clear button and container */
.moodJournal-btns-container{
    display: flex;
    justify-content: space-evenly;
   padding: 17px 0 33px 0;
}

.submit, .clear, .MuiButton-contained{
  font-size:1.5em;
}
