*{
  box-sizing:border-box;
}

html{
  background-color: #F6F4EF;
}
.auth-container{
     display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-button-container{
  margin: 39px;
}

/* login container */
.login-container{
  display: flex;
    width: 100%;
    flex-direction: column;
}

/* login form */
.login-credentials{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px;
  padding: 23px;
  width: 98%;
}

/* signup container */

.signup-container{
  width: 100%;
}

/* sigin form */
.signup-credentials{
  margin:36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* login  button */
 button.MuiButton-contained  {
    color:white;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #581845 ;
    width: 10%;
    padding: 14px; 
    margin:4px;
}

button.MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
    margin: 2px 5px;
}

.login-input, .signup-input{
    background-color: inherit;
    margin: 16px 21px ;
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    width: 30%;
}