*{
  box-sizing: border-box;
}

.journal-entry {
    border: 1px solid black;
    border-radius: 4%;
    padding: 42px 0px 24px 6px;
   
}

.journal-entry-edit{
   border: 8px solid #581845;
   font-size: 1em;
   padding: 1px 0px 3px 7px;
   margin: 10px 4px 3px 33px;
   border-radius: 1%;  
   width: 45%;
   height: 158px;  
}

.edit-textarea{
    width: 50%;
    padding: 3%;
}

 #edit-btn, #delete-btn, .MuiButton-contained{
      color: white;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #581845;
    width: 21%;
    padding: 9px;
    margin: 3px;
}

.MuiButton-contained + .MuiButton-contained  {
  margin-left: 0.5rem;
}