@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');



.sound-btn{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
    font-size: 18px;
    background-color: #B781AB;
    color: white;
    outline: none;
    width:100%;
}

.audio{
    margin:3px;
}

.sound-btn.MuiButton-outlined {
    border: 4px solid #9C6390;
    /* padding: 5px 15px; */
    margin: 3px;
    color: white;
}







    